<!DOCTYPE ejs>
<html>
<head>
  <title>Sportify || Management</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../css/admin.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
  
  

</head>
<body>
  <%- include('./templates/header.ejs'); %>
  <div>
    <h2 class="page-title">
      Management
    </h2>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="AddItem" class="nav-link">Add item</a>
        </li>
        <li class="nav-item">
          <a id="manageUsers" class="nav-link">Manage Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="PostFacebook">Post Facebook</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="form-container-hidden" id="formContainer">
    <form action="/management" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="input-text form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="input-text form-control" id="type" name="type" required>
          <option value="Men">pants</option>
          <option value="Women">shirts</option>
          <option value="Unisex">shoes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="input-text form-control" id="gender_" name="gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="input-text form-control" id="price" name="price" required>
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <textarea class="input-textarea form-control" id="details" name="details" required></textarea>
      </div>
      <div class="form-group">
        <label for="img">Upload Single Images Here</label>
        <div class="mb-3">
          <input type="file" name="single_input" class="input-text form-control">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
  </div>

 

    <!-- form handling -->
    <div id="manageUsersForm" class="container">
       <div class="container">
    <div class="box-nav d-flex justify-between">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User <i class="fas fa-user"></i></span>
        </a>
    </div>
  <form action="/" method="POST">
        <table id="datatable" class="table">
            <thead class="thead-dark">
                <tr>
                  <th>Index</th>
                  <th>Username</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Gender</th>
                  <th>Role</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].firstname %></td>
                    <td><%= users[i].lastname %></td>
                    <td><%= users[i].gender %></td>
                    <td><%= users[i].role %></td>
                    <th><%= users[i].email %></th>
                    <td>
                      <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                        </a>
                        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                            <span class="text-gradient"><i class="fas fa-times"></i></span>
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </form>
  </div>
</div>
<div id="PostFacebook_Container" class="form-container-hidden">
  <form action="/post-form-route" method="POST">
  <div id="postContainer">
    <input type="text" id="postInput"name="PostText" placeholder="Write something...">
    <button id="postButton"  class="btn btn-primary">Post</button>
  </div>
  </form>
</div>
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
  <%- include('./templates/footer.ejs'); %>
  <script src="../js/management.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  
</body>
</html>
